<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <title>Facebook</title>
</head>
<body>
<div id="app">
  <div id="header">
    <div class="wrapper" id="header-section">
      <div id="header-profile">
        <img src="./images/profile.png" style="height: 50px; width: auto" alt="profile">
        <span id="user-name">Hello Ross!</span>
      </div>
      <textarea placeholder="New Post Here" v-model="newPost.body"></textarea>
      <button type="button" v-on:click="createPost">submit</button>
    </div>
  </div>
  <div id="main" v-if="loggedIn">
    <div class="wrapper" id="main-section">
      <div id="post-section">
        <ul class="threads">
          <li class="thread" v-for="post in posts">
            <div class="post-div">
              <img src="./images/profile.png" style="height: 50px; width: auto" alt="profile">
              <div class="post-owner">
                <div>
                  <span>{{ user.fname }} {{ user.lname }}</span>
                </div>
                <div class="created">{{ post.created }}</div>
                <textarea v-if="post.editing"  v-model="post.body"> {{ post.body }}</textarea>
                <div v-else>{{ post.body }}</div>
              </div>
            </div>
            <div class="display-flex">
              <div class="move-right">
                <button type="button" v-on:click.once="addPostLike(post)"> {{ post.likes }} Like</button>
                <button type="button" v-on:click.once="addPostDislike(post)">{{ post.dislikes }} Dislike</button>
              </div>
              <div class="move-left">
                <button type="button" v-on:click="delPost(post)">Delete</button>
                <button type="button" v-on:click="toggleEdit(post)">Edit</button>
              </div>
            </div>
            <ul class="comments" v-for="comment in comments">
              <li class="comment" v-if="comment.post_id == post._id">
                <div class="comment-div">
                  <img src="./images/profile.png" style="height: 50px; width: auto" alt="profile">
                  <div class="comment-owner">
                    <div>
                      <span class="comment-owner-span">{{ user.fname }} {{ user.lname }}</span>
                    </div>
                    <span class="comment-body-span">{{ comment.body }}</span>
                  </div>
                  <div class="created">
                    {{ comment.created }}
                  </div>
                </div>
                <div class="display-flex-comment">
                  <div class="move-right">
                    <button type="button" v-on:click.once="addCommentLike(comment)"> {{ comment.likes }} Like</button>
                    <button type="button" v-on:click.once="addCommentDislike(comment)">{{ comment.dislikes }} Dislike</button>
                  </div>
                  <div class="move-left">
                    <button type="button" v-on:click="delComment(comment)">Delete</button>
                  </div>
                </div>
              </li>
            </ul>
            <div>
              <div class="add-comment-active">
                <textarea class="add-comment" placeholder="Add Comment" v-model="post.newComment"></textarea>
                <button v-on:click="createComment(post)">Post</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div v-else>
    <h1>FaceBook Revised</h1>
    <div id="not-user-section">
      <div id="login-section">
        <h2>Returning Users login</h2>
        <input type="text" v-model="user.email" placeholder="Email">
        <input type="password" v-model="user.password" placeholder="Password">
        <button v-on:click="logIn">Login</button>
        <div v-if="signInError" id="signInError">
          Sorry, That email and/or password is invalid
        </div>
      </div>
      <div id="sign-up">
        <h2>New User registrations</h2>
        <input type="text" v-model="newUser.fname" placeholder="Please Enter First Name">
        <input type="text" v-model="newUser.lname" placeholder="Please Enter last Name">
        <input type="text" v-model="newUser.email" placeholder="Please enter an Email">
        <input type="text" v-model="newUser.password" placeholder="Please enter a password">
        <button v-on:click="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<script src="vue.js"></script>
<script src="myspace.js"></script>
</body>
</html>
