<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Myspace</title>
</head>
<body>
<div id="app">
  <div id="header">
    <div class="wrapper" id="header-section">
      <span id="user-name">Hello Ross!</span>
      <textarea v-model="newPost.body"></textarea>
      <button type="button" v-on:click="createPost">submit</button>
    </div>
  </div>
  <div id="main">
    <div class="wrapper" id="main-section">
      <div id="post-section">
        <ul class="threads">
          <li class="thread" v-for="post in posts">
            <div class="post-div">
              <div class="post-owner">
                Post Owner
              </div>
              <div class="post-body" v-if="post.editing == false">
                {{ post.body }}
              </div>
              <textarea v-if="post.editing == true"> {{ post.body }}</textarea>
              <div class="move-left">
                <button type="button" v-on:click="delPost(post)">Delete</button>
                <button type="button" v-on:click="toggleEdit(post)">Edit</button>
            </div>
            </div>
            <ul class="comments" v-for="comment in comments">
              <li class="comment" v-if="comment.post_id == post._id">
                <div class="comment-div">
                  <div class="comment-owner">
                    comment owner
                  </div>
                  <div class="comment-body">
                    {{ comment.body }}
                  </div>
                  <div class="move-left">
                    <button type="button" v-on:click="delComment(comment)">Delete</button>
                  </div>
                </div>
              </li>
            </ul>
            <div>
              <div class="add-comment-active">
                <textarea class="add-comment" v-model="post.newComment"></textarea>
                <button v-on:click="createComment(post)">Add Comment</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="vue.js"></script>
<script src="myspace.js"></script>
</body>
</html>
