*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #CBDBD7;
}
.wrapper{
  margin: 0 auto;
  width: 95%;
}

#header{
  background-color: #193441;
  padding: 10px 0;
  color: white;
}

#header-profile{
  display: flex;
  align-items: center;
}

#header-profile span{
  margin-left: 5px;
}

#header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-section textarea{
  margin-left: -85px;
}

#post-section{
  height: 650px;
  width: 100;
  margin: 0 auto;
  overflow: scroll;
}

hr{
  width: 90%;
  margin-left: 0;
}

ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li{
  margin-left: 0;
}

textarea{
  height: 50px;
  padding: 5px;
  width: 50%;
  resize: none;
  border: 0;
  border-radius: 5px;
}

.thread{
  width: 60%;
  margin: 0 auto;
  background-color: #193441;
  border-radius: 5px;
  margin-bottom: 25px;
}

.comment{
  background-color: #fff;
  margin-bottom: 1px;
}

.post-div{
  padding: 15px;
  min-height: 150px;
  width: 100%;
  background-color: #91AAB4;
  display: flex;
}

.post-owner div{
  margin-bottom: 3px;
  margin-left: 10px;
  width: 300px;
}

.post-owner textarea{
  margin-left: 10px;
  width: 300px;
}

.display-flex{
  display: flex;
  justify-content: space-between;
  background-color: #91AAB4;
  padding-bottom: 15px;
}

.display-flex-comment{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 15px;
}

.post-div button, .comment-div button{
  height: 25px;
  padding: 5px;
  margin-right: 5px;
}

.move-left{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.move-right{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
}

.move-left button{
  margin-left: 10px;
}

.move-right button{
  margin-right: 10px;
}

.comment-div{
  display: flex;
  padding: 15px;
  min-height: 50px;
}

.comment-owner{
  width: 100%;
  margin-left: 10px;
}
.comment-body{
  margin-left: 25px;
  width: 70%;
}

.created{
  width: 100px;
  font-size: .8rem;
}

.comment-owner-span{
  color: #16587F;
}

.add-comment-active{
  min-height: 70px;
  padding: 5px 15px;
  display: flex;
  background-color: #3E606F;
  justify-content: space-around;
  align-items: center;
}

.add-comment-active textarea{
  padding-left: 25px;
  padding-top: 15px;
  min-height: 43px;
  width: 65%;
}

.add-comment-active button{
  height: 24px;
  width: 61px;
  border: 0;
}

.add-comment{
  width: 80%;
  height: 25px;
  padding: 5px;
  border-radius: 100px;

}
